:root {
    --bodyBackground: #49a2d7;
    --bodyDarkBackground: white;
    --contentBackground: white;
    --dropshadow: 0px 7px 10px -7px rgba(0,0,0,0.3);
    --dropshadowIntense: 0px 15px 10px -7px rgba(0,0,0,0.3);
    
    --borderRadius: 3px;
}
