.Card {
    background: white;
    border-radius: 3px;
    overflow: hidden;
    border: 2px black solid;
    box-shadow: var(--dropshadow);
    // padding: 1em;
    margin: 1em;

    &__header {
        padding: 0 .5em;
        border-bottom: 2px black solid;
    }

    &__body {
        padding: 1em;
    }
}
