.Tab {
    display: inline-block;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    background: #CCC;
    z-index: 0;
    margin-right: .25em;
    font-family: 'Open Sans', san-serif;
    
    &:hover {
        background: #BBB;
    }

    &--active {
        background: var(--contentBackground);
        &:hover {
            background: var(--contentBackground);
        }
    }

    
    a {
        text-decoration: none;
        padding: 1em 1em .25em 1em;
        line-height: 2;
        font-weight: 600;
        color: black;
        
        &:visited {
            color: inherit;
        }
    }
}

