@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:400,700');

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.8;
}

p {
    line-height: 1.6
}