@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

body {
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.8;
    font-family: 'Open Sans', Helvetica, serif;
    font-weight: 700;
}

p {
    line-height: 1.6;
    font-family: 'Open Sans', Helvetica, sans-serif;
}