.Banner {
    position: relative;
    overflow: hidden;

    &__image {
        width: 100%;
    }
    &__screen {
        position: absolute;
        display: inline-block;
        bottom: 1em;
        left: -2em;
        min-width: 40%;
        width: 90%;
        background: rgba(0,0,0,.3);
        color: white;
        padding: 1em 3em;

    }
}