.Header {
    max-width: 1440px;
    margin: 0 auto;
    position: sticky;
    top: -1px;
    z-index: 2;

    &--is-sticky {
        transition: opacity 200ms 100ms ease-in-out;
        background: var(--bodyDarkBackground);
        box-shadow: var(--dropshadow);
        
        opacity: .05;
        &:hover {
            opacity: 1;
        }
    }

}