.Header {
    max-width: 1440px;
    margin: 0 auto;
    position: sticky;
    top: -1px;
    z-index: 2;
    background: var(--bodyBackground);

    &--is-sticky {
        background: var(--bodyDarkBackground);
        
        .Tab:not(.Tab--active){
            transition: opacity 200ms ease-in-out;
            opacity: .1;
        }

    }

}