.Wrapper {
    display: flex;
    flex-wrap: nowrap;
    &--space-between {
        justify-content: space-between;
    }

    &--allow-wrap {
        flex-wrap: wrap;
    }

    .Wrapper__item--last {
        margin-left: auto;
        margin-right: 0;
    }

    @for $i from 1 to 12 {
        .col-$(i) {
            flex: $(i);
        }
    }


    @media(max-width: 425px) {
        flex-direction: column;

        .Wrapper__item--last {
            margin-left: 0;
            margin-right: 0;
        }
    }
}